# Ignore Python compiled files
*.pyc
*.pyo
*.pyd
__pycache__

# Ignore log files
*.log

# Ignore pth files
*.pth

# Ignore all the files in result
result/*

# Ignore all the files in config/my_test_config
config/my_test_config/*

#
*.gitignore